
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Mail
Flask-Migrate
Werkzeug
email-validator
python-dotenv
gunicorn
psycopg2-binary
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
numpy
pandas